{% extends 'userbase.html' %}
{% load static %}
{% block content %}

<style>
    .doctor-container {
        width: 90%;
        margin: 70px auto 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .doctor-card {
        background: #fff;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        padding: 20px;
        text-align: center;
        transition: 0.3s;
    }

    .doctor-card:hover {
        background: #DCEDFF;
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    }

    .doctor-card h3 {
        margin: 10px auto;
        font-size: 22px;
        color: #333;
        font-weight: bold;
    }

    .doctor-card p {
        margin: 5px 0;
        color: #666;
        font-size: 14px;
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 15px;
        background: #2ECC71;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
        transition: 0.3s;
    }

    .btn:hover {
        background: #27AE60;
        font-weight: bold;
    }
    .disabled {
        opacity: 0.6;
    }

</style>

<div class="doctor-container">
    {% for doctor in doctors %}
    <div class="doctor-card">
        <h3>Dr. {{ doctor.name }}</h3>
        <p><strong>Specialization:</strong> {{ doctor.specialization }}</p>
        <p><strong>Experience:</strong> {{ doctor.experience }} years</p>
        <p><strong>Phone:</strong> {{ doctor.phone_no }}</p>
        <p><strong>Email:</strong> {{ doctor.email }}</p>
        {% if doctor.status == "Yes" %}
            <a href="{% url 'book' doctor.id %}" class="btn btn-appointment">Book Now</a>
        {% else %}
            <a class="btn btn-appointment disabled" style="pointer-events: none; background-color: grey; cursor: not-allowed;">Not Available</a>
        {% endif %}

    </div>
    {% endfor %}
</div>

{% endblock %}
